
@{
    ViewData["Title"] = "CreateContainerPage";
}

<h1>Result: Create New Container</h1>

<p>
    The @ViewBag.containerName container is created
    @(ViewBag.result == true? " successfully" : " failed! Maybe the container already exist!")
</p>

