@{
    ViewData["Title"] = "UploadFile";
}

<h1>UploadFile</h1>

<center>
    <form method="post" asp-controller="Blobs" asp-action="UploadFile" enctype="multipart/form-data">
        <p>
            You can upload one / more than one files to the server.
            Please choose your files at here:
        </p>
        <input type="file" name="files" multiple />
        <br />
        <br />
        <input type="submit"  value="Upload File Now!" />
    </form>
</center>

@if (ViewBag.msg != null)
{
    <script>alert("@ViewBag.msg");</script>
}