* {
    font-family: 'Fugaz One', cursive;
}

.footer-background {
    background-color: floralwhite;
}

.home-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://blobstorage053187.blob.core.windows.net/imagecontainer/image1.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}

.privacy-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://blobstorage053187.blob.core.windows.net/imagecontainer/image2.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}

.accessDenied-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://blobstorage053187.blob.core.windows.net/imagecontainer/wasted.png');
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    color: aliceblue;
}

.register-background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://blobstorage053187.blob.core.windows.net/imagecontainer/image5.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    color: aliceblue;
}

.register-background>div>div {
}

.article {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.article-card {
    max-width: 500px;
}

.article-card-body {

}
