@{
    ViewData["Title"] = "Home Page";
}

<body class="home-background">
    <div class="howitworks text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="howitworks-title">How It Works</h2>
                    <h4 class="howitworks-subtitle">Order a tow truck in 3 easy steps</h4>
                    <div class="three-dots-grey">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify text-center">
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icon-background icon-depot"></i>
                        <i class="fa fa-circle-thin fa-stack-2x icon-background-border"></i>
                        <i class="fa fa-map-marker fa-stack-1x"></i>
                        <i class="fa fa-map-o fa-stack"></i>
                    </span>
                    <h3 class="howitworks-col-title">Choose a Depot</h3>
                    <p class="text-justify">
                        Select the towing provider nearest to your pickup, if no depot is located near
                        your pickup location, select
                        the towing depot nearest to your destination.
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icon-background icon-quote"></i>
                        <i class="fa fa-circle-thin fa-stack-2x icon-background-border"></i>
                        <i class="fa fa-laptop fa-stack-1x"></i>
                    </span>
                    <h3 class="howitworks-col-title">Get a Online Quote</h3>
                    <p class="text-justify">
                        Now select the towing service that closest matches your type of towing job, and
                        simply enter the pickup and
                        dropoff details. Our online app will automatically calculate the charges and display the price
                        to you instantly.
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-circle-thin fa-stack-2x icon-background-border"></i>
                        <i class="fa fa-volume-control-phone fa-stack-1x"></i>
                    </span>
                    <h3 class="howitworks-col-title">Call Depot Directly</h3>
                    <p class="text-justify">
                        If your happy with the online quoted price, you can simply click the Call Now
                        button to connect directly with
                        your selected depot and just mention your unique quote number to book the job.
                    </p>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</body>