@{
    ViewData["Title"] = "Home Page";
}

<body class="home-background">
    <div class="howitworks text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="howitworks-title">How It Works</h2>
                    <h4 class="howitworks-subtitle">Order a tow truck in 3 easy steps</h4>
                    <div class="three-dots-grey">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify text-center">
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icon-background icon-depot"></i>
                        <i class="fa fa-circle-thin fa-stack-2x icon-background-border"></i>
                        <i class="fa fa-map-marker fa-stack-1x"></i>
                        <i class="fa fa-map-o fa-stack"></i>
                    </span>
                    <h3 class="howitworks-col-title">Choose a Depature City</h3>
                    <p class="text-justify">
                        Select the city where your car needs to be picked up, if no 
                        city is located near your pickup location, select
                        the nearest city to your car departure city.
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icon-background icon-quote"></i>
                        <i class="fa fa-circle-thin fa-stack-2x icon-background-border"></i>
                        <i class="fa fa-laptop fa-stack-1x"></i>
                    </span>
                    <h3 class="howitworks-col-title">Choose a Depature City</h3>
                    <p class="text-justify">
                        Now select the destination city where you want to transfer your car by 
                        simply choosing the city name. If there is no needed city in the list
                        select the nearest city to your destination point.                        
                    </p>
                </div>
                <!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x icon-background"></i>
                        <i class="fa fa-circle-thin fa-stack-2x icon-background-border"></i>
                        <i class="fa fa-volume-control-phone fa-stack-1x"></i>
                    </span>
                    <h3 class="howitworks-col-title">Enter Main Information</h3>
                    <p class="text-justify">
                        Enter the car model which needs to be transported from the departure city
                        to the destination city. After entering the car model, select the price, which you
                        are ready to pay for the towing.
                    </p>
                </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
    </div>
</body>