@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<body class="privacy-background">
    <div class="row blur-background">
        <div class="col">
            <strong>Why we collect personal information</strong>
            <p>We collect personal information from you when it is reasonable necessary for a business purpose.</p>

            <p>This means we collect it to supply you with the services you have asked for and to provide you with the best possible service.</p>

            <strong>The type of information we collect</strong>
            <p>Generally, Tow My Car collects personal information like your vehicle details, pickup and drop off address and contact details.</p>

            <strong>The type of information we share</strong>
            <p>Tow My Car shares the personal information we collect with Towing Providers who have registered with Tow My Car to become towing providers. </p>


            <strong>Online activity</strong>
            <p>
                Tow my car collects information about use of our website and we use cookies and other digial identifiers. eg.
            </p><ul>
                <li>Site performance identifiers</li>
                <li>Analytics cookies</li>
                <li>Form data</li>
            </ul>
            <strong>Insights from analytics</strong>
            <p>Tow my car may process personal information and de-identified system information to generate new insights about our network, services and customers. </p>

            <p> We use these insights to make better business decisions and to provide you with better services.</p>
            <p></p>

            <strong>Outstanding payments</strong>
            <p>In some circumstances Towing providers may need to refer or sell outstanding debts to debt collectors, If required we will give them secure access to the personal information they need to handle the debt.</p>

            <strong>Security</strong>
            <p>We are committed to protecting your personal information.</p>
            <p>Some of the security measures we use include:</p>
            <ul>

                <li>Firewalls to protect against unauthorised access.</li>
                <li>Secure work environments.</li>
                <li>Secure servers.</li>
                <li>Encryption of data in transit.</li>
                <li>Virus scanning tools.</li>
                <li>Management of access privileges.</li>
                <li>Ongoing security reviews.</li>
            </ul>
        </div>
    </div>
</body>
